@import "core/typography.scss";
@import "core/utility.scss";
@import "core/scaffold.scss";

:root {
  font-family: Raleway, system-ui, sans-serif;
  --slide-bg: white;
  --brand-color: #f60;
}

p-deck::after {
  position: fixed;
  bottom: .5em;
  left: 0;
  right: 0;
  font-size: 50%;
  text-align: center;
  content: '@MaxArt2501';
  color: #001236;
  z-index: 100;
}

.cover {
  --slide-bg: var(--brand-color);
  padding: 0;
  background-color: var(--slide-bg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 133vmin, auto;
  background-image: url('../img/logo-antreem-contour.svg'), paint(delaunay);
  color: white;
  text-align: center;
  text-shadow: 0 0 .25em black;

  small { display: block; }

  img {
    background: white;
    padding: .2em;
    border-radius: .5em;
    height: 5em;
  }
}

.our-header {
  border-left: var(--brand-color) solid .15em;
  padding: .5em;
  margin: 0 0 .5em;
}

.links {
  font-size: 75%;
  align-self: center;

  li {
    margin-top: .5em;
  }
  a {
    display: block;
    width: fit-content;
    padding-left: 1.75em;
  }
}

.antreem-logo {
  position: absolute;
  height: 12em;
  right: 0;
  bottom: -4em;
}
.my-data {
  > h2 {
    margin-bottom: 0;
  }
  a {
    color: var(--brand-color);
  }
}
.my-face {
  border: .1em solid var(--brand-color);
  border-radius: 50%;
  height: 6em;
  float: left;
  margin: 0 1em;
}
.my-info {
  width: 8em;
  text-align: center;
  margin: 2em 2em 0;
  img {
    height: 1em;
    vertical-align: middle;
  }
}
.final-link {
  a {
    color: var(--brand-color);
  }
  img {
    display: block;
    margin: 1em auto 0;
    height: 7em;
  }
}

support-table {
  &::part(frame) {
    background-color: #e7f5fe;
    padding-top: .125em;
    border-radius: 0 0 .25em .25em;
    margin: 0 auto;
    border: .123em solid lightskyblue;
    border-spacing: .125em;
    font-size: 200%;
  }
  &::part(caption) {
    background-color: lightskyblue;
    border-radius: .333em .333em 0 0;
    font-size: 75%;
  }
  &::part(icon) {
    height: .75em;
  }
  &::part(value) {
    background-color: white;
    padding: .1em;
    min-width: 2em;
    text-align: center;
    border-radius: .15em;
    height: 1em;

  }
  &::part(ok) {
    background-color: #c7f0c1;
  }
  &::part(ko) {
    background-color: #f0c1c1;
    background-image: linear-gradient(to bottom right, rgba(230, 100, 101, .75) 0, rgba(230, 100, 101, .75) 1px, transparent 1px, transparent 67px, rgba(230, 100, 101, .75) 67px, rgba(230, 100, 101, .75) 73px, transparent 73px, transparent 138px, rgba(230, 100, 101, .75) 138px, rgba(230, 100, 101, .75) 144px, transparent 144px), linear-gradient(to bottom left, rgba(230, 100, 101, .75) 0, rgba(230, 100, 101, .75) 1px, transparent 1px, transparent 67px, rgba(230, 100, 101, .75) 67px, rgba(230, 100, 101, .75) 73px, transparent 73px, transparent 138px, rgba(230, 100, 101, .75) 138px, rgba(230, 100, 101, .75) 144px, transparent 144px);
    background-size: 100px 100px,100px 100px;
    background-position: 50% 50%,50% 50%;
    background-repeat: no-repeat;
  }
}

.relative {
  position: relative;
}

.covering {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

svg.cross path {
  fill: none;
  stroke: red;
  stroke-linecap: round;
  stroke-width: .2em;
  vector-effect: non-scaling-stroke;
}

.stacking {
  display: grid;
  justify-content: center;
  align-items: center;
  > * {
    grid-area: 1/1/span 1/span 1;
  }
}

.shadow {
  box-shadow: 0 0 .5em rgba(0, 0, 0, .5);
}

.display-showcase {
  display: flex;
  align-items: baseline;
  padding: 0;
  margin: 0;
  font-size: 150%;

  li {
    text-align: center;
  }
  figure {
    margin: 0;
  }
  figcaption {
    display: flex;
    flex-direction: column;
    margin-block-start: .2em;
    padding: 0 .2em;
    border-block-start: .1em solid;
  }
  small {
    font-size: 50%;
  }
}

.sample-a {
  aside {
    text-align: center;
  }
  span {
    display: inline-block;
    position: relative;
    font-size: 800%;
    font-family: 'Courier New', Courier, monospace;
    line-height: .5;

    &::after {
      content: "";
      position: absolute;
      bottom: -.2em;
      left: .05em;
      right: .05em;
      height: .1em;
      border: .05em solid #f60;
      border-block-start-style: none;
    }
  }
  li {
    font-size: 150%;
  }
}

.color-block {
  font-size: 200%;
  border-radius: .5em;
  line-height: 2em;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  margin: .5em;
}
.color-contrast {
  font-size: 200%;
  line-height: 2em;
  margin: .5em;
}
.vega {
  position: absolute;
  height: 75%;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}

.color-disc {
  > svg, > p-fragment {
    margin: auto;
  }
  svg {
    margin: auto;
    display: block;
  }
  > p-fragment {
    position: relative;
    &[previous] {
      opacity: 0;
    }
  }
  code {
    position: absolute;
    font-size: 75%;
    background: none;
    box-shadow: none;
    transform: translate(-50%, -50%);

    &:nth-of-type(1) {
      top: -4.33em;
      left: 2.5em;
      color: white;
    }
    &:nth-of-type(2) {
      top: 0;
      left: 5em;
    }
    &:nth-of-type(3) {
      top: 4.33em;
      left: 2.5em;
    }
    &:nth-of-type(6) {
      top: -4.33em;
      left: -2.5em;
    }
    &:nth-of-type(5) {
      top: 0;
      left: -5em;
      color: white;
    }
    &:nth-of-type(4) {
      top: 4.33em;
      left: -2.5em;
    }
  }
}

.a-button {
  white-space: nowrap;
  background: var(--brand-color);
  color: white;
  border: none;
  border-radius: .25em;
  font-size: 150%;
  padding: .15em .5em;
  min-width: 5em;
}
.utter-this {
  border: none;
  background: none;
  font-size: inherit;
  font-family: inherit;
  &::before {
    content: '🔊';
  }
}

.nav-example {
  background: rebeccapurple;

  ul {
    display: flex;
    justify-content: space-around;
  }

  a {
    display: block;
    color: white;
    text-decoration: none;
    padding: .25em .5em;
  }
}

.simple-table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;

  td, th {
    padding: .25em 0;
  }

  tbody > tr {
    border-top: .125em solid;
  }

  tr > :not(:first-child) {
    border-left: .125em solid;
  }
}

.the-swap {
  text-align: center;
  position: relative;

  figure {
    position: relative;
  }

  img {
    height: 6em;
  }
  p-fragment:last-child > figure {
    background: white;
  }
}

.accessibility-cycle {
  align-self: center;
  width: 10em;
  height: 10em;
  border-radius: 5em;
  position: relative;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;

  svg, span {
    grid-area: 1 / 1 / span 2 / span 2;
  }
  span {
    align-self: center;
    justify-self: center;
    width: min-content;
    text-align: center;
    line-height: 1;
    text-transform: uppercase;
    font-weight: bold;
  }
  img {
    height: 1em;
  }

  path {
    fill: var(--brand-color);
    transform: rotate(45deg);
    transform-origin: 5px 5px;
  }
  p-fragment {
    font-size: 125%;
    width: 3em;
    height: 3em;
    background-color: rgba(white, .75);
    border: .1em solid var(--brand-color);
    border-radius: .5em;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 1;
    font-weight: bold;
    text-transform: uppercase;
    margin: -.5em;

    &:nth-child(1) {
      grid-area: 1 / 1 / span 1 / span 1;
      align-self: start;
      justify-self: start;
    }
    &:nth-child(2) {
      grid-area: 1 / 2 / span 1 / span 1;
      align-self: start;
      justify-self: end;
    }
    &:nth-child(3) {
      grid-area: 2 / 2 / span 1 / span 1;
      align-self: end;
      justify-self: end;
    }
    &:nth-child(4) {
      grid-area: 2 / 1 / span 1 / span 1;
      align-self: end;
      justify-self: start;
    }
  }
}
